nav {
    display: flex;
    align-items: center;
    padding: 30px 25px;
    height: 90px;
    width: 100%;
    position: fixed;
}

.logo-holder {
    display: flex;
    align-items: center;
    margin-right: auto;
}

.logo-holder > img {
    max-height: 50px;
    max-width: 120px;
    margin-right: 7px;
}

nav > h3 {
    /* margin-right: auto; */
    color: white;
}

