

* {
  box-sizing: border-box;
}

body {
  margin: 0;
}

.banner {
  background-image: url(./images/bannerpic.png);
  min-height: 800px;
  background-attachment: fixed;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}

.cards-list {
  display: flex;
  flex-wrap: nowrap;
  gap: 20px;
  overflow-x: auto;
}